html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.in {
	opacity: .9;
}

.map {
	border: 1px solid #dddddd;
}

.map.active {
	border: 1.5px solid #007bff;
}

#sidebar {
	background-color: white;
}

/* .nav {
	background-color: #c9c9c9;
} */

.nav > li {
	padding: 12px 8px 12px 8px;
}

.nav > li > a {
	text-decoration: none !important;
}

.nav > li.active {
	background-color: white;
}

.project-name {
	font-family: 'Gugi', cursive;
	padding-right: 2%;
	overflow: hidden;
    white-space: nowrap;
}

.data-layer-name {
	padding-left: 20px;
}

.margin-bottom-15 {
	margin-bottom: 15px !important;
}

.layers > div {
	padding-top: 8px;
}

.layers div.fa-toggle-on, .layers div.fa-toggle-off {
	padding-top: 6px;
}


.col-dark {
	background-color: #f8f9fa;
}

.col-sm-1-custom {
	padding-left: 8px;
	padding-right: 8px;
	flex: 0 0 11%;
	max-width: 11%;
}

.col-sm-2-custom {
	padding-left: 8px;
	padding-right: 8px;
	flex: 0 0 12%;
	max-width: 12%;
}

.col-sm-3-custom {
	padding-left: 8px;
	padding-right: 8px;
	flex: 0 0 18.5%;
	max-width: 18.5%;
}

.h-90 {
	height: 90% !important;
}

.custom-control-label {
	font-weight: bold;
}

.slider-handle {
	border-radius: .25rem !important;
	background-color: #0062cc !important;
	border-color: #005cbf !important;
	background-image: none !important;
}

.slider-selection {
	background-color: #bababa;
}

#startSlider:hover, #endSlider:hover {
	cursor: pointer;
}

